apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: crds-prometheus-operator
  namespace: observability
spec:
  releaseName: crds-prometheus-operator
  chart:
    spec:
      chart: prometheus-operator-crds
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      version: "24.0.2"
  interval: 10m0s
  install:
    createNamespace: true
    remediation:
      retries: 3
  values: {}
